.section4 {
  background-image: url("../../assets/image/johny.jpg");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}