.section1 {
  background-image: url("../../assets/image/section1.png");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile {
  border-radius: 50%;
  margin-left: 70px;
}
