.section3{
  background-image: url("../../assets/image/blacklamp.png");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.my {
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  color: #007bff;
  text-decoration: dashed;
  text-align: right;
  padding-top: 150px;
  padding-right: 30px;
}
.work{
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  color: #007bff;
  text-decoration: dashed;
  padding-top: 150px;
  padding-left: 30px;
}