.p1 {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  text-transform: none;
  color: #007bff;
  padding: 5px;
  text-align: center;
  padding-left: 35px;
}
.myskills {
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  color: #007bff;
  padding-top: 60px;
  padding-right: 90px;
  text-align: right;
}
.rk {
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  color: #007bff;
  padding-bottom: 20px;
  padding-top: 280px;
  padding-right: 80px;
  padding-left: 20px;
}