/*doc
---
title: Colors
name: colors
category: Basics
---
<div class="cf">
	<div class="doc-color-brand">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-base">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-primary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-secondary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-text">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-link">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-positive">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-negative">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-neutral">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-warning">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-info">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-special">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
</div>

*/
.scrollspy-example {
  position: relative;
  height: 600px;
  overflow: auto; }

.sidebar {
  background-color: black;
  padding-top: 150px;
  padding-left: 20px;
  font-family: 'Anton', sans-serif;
  font-size: 30px; }

#scroll1 {
  height: 600px; }

#scroll2 {
  height: 600px; }

#scroll3 {
  height: 600px; }

#scroll4 {
  height: 600px; }

.heading {
  padding-bottom: 20px; }

.section2 {
  background-image: url("../../assets/image/piupiu2.jpg");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.section1 {
  background-image: url("../../assets/image/section1.png");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.profile {
  border-radius: 50%;
  margin-left: 70px; }

.p1 {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  text-transform: none;
  color: #007bff;
  padding: 5px;
  text-align: center;
  padding-left: 35px; }

.myskills {
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  color: #007bff;
  padding-top: 60px;
  padding-right: 90px;
  text-align: right; }

.rk {
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  color: #007bff;
  padding-bottom: 20px;
  padding-top: 280px;
  padding-right: 80px;
  padding-left: 20px; }

.section3 {
  background-image: url("../../assets/image/blacklamp.png");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.my {
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  color: #007bff;
  text-decoration: dashed;
  text-align: right;
  padding-top: 150px;
  padding-right: 30px; }

.work {
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  color: #007bff;
  text-decoration: dashed;
  padding-top: 150px;
  padding-left: 30px; }

.section4 {
  background-image: url("../../assets/image/johny.jpg");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*# sourceMappingURL=style.css.map */
